<%= link_to user_relationships_path(@user), method: :post, remote: true,
  class: "btn btn-primary btn-block rounded mr-2 ml-2" do %>
  <h3 class="font-weight-bold text-light">
    Follow
  </h3>
<% end %>
