$(document).on("turbolinks:load", function () {
  function html_user(response) {
    var html = "";
    users = response["users"];
    for (i = 0; i < users.length; i++) {
      if (users[i]["avatar_url"] === null) {
        img = "/assets/icon/user.png";
      } else {
        img = users[i]["avatar_url"];
      }
      html += `
        <div class="col-4 p-3 text-center lh-1">
          <img src=` + img + ` class="mb-1 img-100"/>
          <div>
            <a href="/users/` + users[i]["user_id"] + `">` + users[i]["name"] +
        `</a>
          </div>
        </div>
      `;
    }
    return html;
  }

  function paginate_user(response) {
    var html = "";
    total_pages = response["total_pages"];
    page_count = response["page_count"];
    for (i = 1; i <= total_pages; i++) {
      if (i == page_count) {
        html += `
          <li class="page-item active">
            <a class="page-link disable">` + page_count + `</a>
          </li>
        `;
      } else {
        html += `
          <li class="page-item">
            <a class="page-link" data-page="` + i + `">` +
          i +
          `</a>
          </li>
        `;
      }
    }
    return html;
  }

  function get_following_api(params_page, user_id) {
    $.ajax({
      url: "/api/v1/users/" + user_id + "/following",
      data: {
        page: params_page
      },
      type: "GET",
      dataType: "json",
      contentType: "application/json",
      success: function (response) {
        $("#following").html(`
        <div class='row m-0 pt-3 bg-white'>
          <div class="border-dark mb-3 pb-1 col-md-12">
            <h3 class="text-dark font-weight-bold">
              <%= image_tag "svg/follow.svg", class:"height-30" %>
              following
            </h3>
          </div>
          <div class='col-md-12 row' id='list-following'>
        ` + html_user(response) +
        `</div>
          <div class="col-md-12 row justify-content-center"
            id="kaminari-list-books">
            <nav>
              <ul class="pagination">
        ` + paginate_user(response) +
        `
              </ul>
            </nav>
          </div>
        </div>
        `);
      },
    });
  }

  var user_id = $("#get-following").data("user-id");

  $("#get-following").on("click", function (e) {
    get_following_api(1, user_id);
    e.preventDefault();
  });

  $(document).on("click", ".page-link", function () {
    get_following_api($(this).data("page"), user_id);
  });
});
