@import "bootstrap/functions";
@import "bootstrap/variables";
@import "font-awesome-sprockets";
@import "font-awesome";

@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap&subset=vietnamese");

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap&subset=vietnamese");

@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap&subset=vietnamese");

body {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Josefin Sans", sans-serif;
}

.form-control {
  font-family: "Fira Sans", sans-serif;
}

$gray: #ccc;
$cyan: #30e3ca;
$red-black: #ff0062;
$pink-b:#d7ffa9a6;
$pink-bo: #000000;
$white-transparent: rgba(255, 255, 255, 0.95);
$gray: #ccc;

@mixin background-tile {
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px $gray;
  padding: 1.5em 1.25em;
}

@mixin border($color) {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 5vw;
    height: 3px;
    background: $color;
  }
}

#bg-site-blocks {
  background-image: url("hero_2.jpg");
}

.site-navbar .site-logo>span {
  font-size: 0.9rem;
  font-weight: 900;
  padding-left: 10px;
  position: absolute;
}

a.disable {
  pointer-events: none;
  cursor: default;
}

#bottom-header {
  position: relative;
  top: 3px;
  padding-right: 30px;
}

.image-language {
  height: 30px;
  width: auto;
}

.icon .statistical {
  height: 45px;
  width: auto;
  color: $cyan;
}

.lh-content {
  background: $white-transparent;
}

.cover-books {
  max-height: 250px;
}

.image_to_upload {
  width: 300px;
}

.icon-crud {
  height: 25px;
}

.alert-notice {
  color: $red-black;
  background-color: $pink-b;
  border-color: $pink-bo;
}

.reviews {

  @include background-tile;

  h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2em;
  }

  .review {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 15px;
    padding-bottom: 10px;

    .review-comment {
      font-size: 1.05em;
      line-height: 1.5;
    }

  }

  .new-review {
    padding-top: 8px;
  }
}

//border image
.image-border {
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: .5em .25em;
}


/* Button/link styles */

.btn-custom {
  color: darken(#f1c40f, 5%);
  background-color: white;
  border: 1px solid darken(#f1c40f, 5%);
  padding: 8px 20px;
  transition: 0.2s;

  &:hover {
    text-decoration: none;
    background-color: darken(#f1c40f, 5%);
    color: white;
  }
}

.links {

  .btn-custom {
    padding: 3px 10px;
    font-weight: 300;
  }
}

.book-links {

  .btn-custom {
    padding: 3px 10px;
    font-weight: 300;
    margin-top: 40px;
  }
}

.description {
  @include background-tile;
  margin: 20px 0 20px;
}

.btn-custom2 {
  color: #333;
  background-color: white;
  border: 1px solid #222;
  padding: 8px 20px;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;

  &:hover {
    text-decoration: none;
    background-color: #333;
    color: white;
    transition: 0.5s;
  }
}

/* New/Edit review form styles */

#myDIV {
  display: none;
}

.new-review-form,
.edit-review-form {
  @include background-tile;
  margin: 20px 0 20px;

  h1 {
    margin-top: 0;
  }

  #rating-form {
    margin-bottom: 15px;

    label {
      display: block;
    }
  }
}

.icon-marker {
  height: 60px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;

  &:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(2);
  }
}

.listing .lh-content .bookmark.red {
  background: red;

  .favorite {
    color: white;
  }
}

.reviews {

  @include background-tile;

  h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2em;
  }

  .review {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 15px;
    padding-bottom: 10px;

    .review-comment {
      font-size: 1.05em;
      line-height: 1.5;
    }

  }

  .new-review {
    padding-top: 8px;
  }

}


//book style
.book-info {
  @include background-tile;
  margin: 0;

  .book-title {
    margin-top: 0;
    font-size: 2em;
  }

  .avg-rating {
    font-size: 1.5em;
    margin-top: 15px 0 5px;
  }

  .book-author {
    font-size: 1.5em;
    margin-top: 10px 0 10px;

    span {
      font-size: 0.80em;
    }
  }

  .book-desc {
    font-size: 1.05em;
    line-height: 1.5;
    margin-top: 15px 0 15px;
  }

}

//border image

.image-border {
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px $gray;
  padding: .5em .25em;
}

// description show book

.description {
  @include background-tile;
  margin: 20px 0 20px;
}

.image-datatable {
  max-height: 150px;
}

.icon-marker {
  height: 60px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;

  &:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(2);
  }
}

.listing .lh-content .bookmark.red {
  background: red;

  .favorite {
    color: white;
  }
}

.image-datatable {
  max-height: 150px;
}

.icon-marker {
  height: 60px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;

  &:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(2);
  }
}

.listing .lh-content .bookmark.red {
  background: red;

  .favorite {
    color: white;
  }
}

.image-datatable {
  max-height: 150px;
}

.box-shadow {
  -webkit-box-shadow: 0px 3px 25px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 25px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 25px -10px rgba(0, 0, 0, 0.5);
}

.width-inherit {
  width: inherit;
}

.avatar-activity {
  height: 60px;
}

// Profile
div.cover-image {
  position: relative;
  height: 40vh;
  background-image: linear-gradient(to left, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);

  .avatar-image {
    position: absolute;
    bottom: -50px;
    left: 20px;
    height: 30vh;
    width: 30vh;

    &>img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: white 5px solid;
    }
  }

  .user-name {
    position: absolute;
    left: 320px;
    bottom: 0;
    color: #ff4444;
  }

  .btn-edit-profile {
    position: absolute;
    bottom: 10px;
    right: 10px;

    .btn-primary {
      border-radius: 8px;
    }
  }
}

.border-warning {
  @include border($warning);
}

.border-dark {
  @include border($dark);
}

.height-30 {
  height: 30px;
  width: auto;
}

div.bg-white {
  border: 1px solid #ef6b5734;
  border-radius: 3px;
}

.lh-1 {
  line-height: 1 !important;
}

img.avatar-follow {
  width: 60px;
  height: 60px;
}

img.img-100 {
  width: 100px;
  height: 100px;
}

.c-gray {
  color: gray;
}

.like {
  -webkit-transition: 0.2s;
  transition: 0.2s;

  &:hover {
    color: red;
    cursor: pointer;
    transform: scale(1.5);
  }
}

.avt-repcmt {
  height: 40px;
  width: 40px;
}

.form-control:focus {
  color: $danger;
}

input.write_comment {
  border-radius: 50px
}

/** Reviews **/
.time-review {
  font-size: 0.7rem;
}

li.ui-menu-item {
  div.ui-menu-item-wrapper {
    &:hover {
      background: orange;
      border: none;
    }

    a {
      width: inherit;
    }
  }
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
