$cyan: #30e3ca;
$red-black: #ff0062;
$pink-b:#d7ffa9a6;
$pink-bo: #000000;
$white-transparent: rgba(255, 255, 255, 0.95);
$gray: #ccc;

@mixin background-tile {
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px $gray;
  padding: 1.5em 1.25em;
}

#bg-site-blocks {
  background-image: url("hero_2.jpg");
}

#bottom-header {
  position: relative;
  top: 3px;
  padding-right: 30px;
}

.image-language {
  height: 30px;
  width: auto;
}

.icon .statistical {
  height: 45px;
  width: auto;
  color: $cyan;
}

.lh-content {
  background: $white-transparent;
}

.cover-books {
  max-height: 250px;
}

.image_to_upload {
  width: 300px;
}

.icon-crud {
  height: 25px;
}

.alert-notice {
  color: $red-black;
  background-color: $pink-b;
  border-color: $pink-bo;
}

.icon-marker {
  height: 60px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;

  &:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(2);
  }
}

.listing .lh-content .bookmark.red {
  background: red;

  .favorite {
    color: white;
  }
}

.reviews {

  @include background-tile;

  h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2em;
  }

  .review {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 15px;
    padding-bottom: 10px;

    .review-comment {
      font-size: 1.05em;
      line-height: 1.5;
    }

  }

  .new-review {
    padding-top: 8px;
  }

}


//book style
.book-info {
  @include background-tile;
  margin: 0;

  .book-title {
    margin-top: 0;
    font-size: 2em;
  }

  .avg-rating {
    font-size: 1.5em;
    margin-top: 15px 0 5px;
  }

  .number-of-reviews {
    font-size: 0.85em;
    font-style: italic;
  }

  .book-author {
    font-size: 1.5em;
    margin-top: 10px 0 10px;

    span {
      font-size: 0.80em;
    }
  }

  .book-desc {
    font-size: 1.05em;
    line-height: 1.5;
    margin-top: 15px 0 15px;
  }

}

//border image

.image-border {
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px $gray;
  padding: .5em .25em;
}

// description show book

.description {
  @include background-tile;
  margin: 20px 0 20px;

}
