$cyan: #30e3ca;
$red-black: #ff0062;
$pink-b:#d7ffa9a6;
$pink-bo: #000000;
$white-transparent: rgba(255, 255, 255, 0.95);

@mixin background-tile {
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px $gray;
  padding: 1.5em 1.25em;
}
#bg-site-blocks {
  background-image: url("hero_2.jpg");
}

#bottom-header {
  position: relative;
  top: 3px;
  padding-right: 30px;
}

.image-language {
  height: 30px;
  width: auto;
}

.icon .statistical {
  height: 45px;
  width: auto;
  color: $cyan;
}

.lh-content {
  background: $white-transparent;
}

.cover-books {
  max-height: 250px;
}

.image_to_upload {
  width: 300px;
}

.icon-crud {
  height: 25px;
}

.alert-notice {
  color: $red-black;
  background-color: $pink-b;
  border-color: $pink-bo;
}
